.home {
	.introImage img {
		margin-top:-18px;
	}
	.introImage p {
		margin-top:6px;
		color: $burgandy;
	}

	.offerings {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
	}
	.offeringCard {
		max-width: 400px;

			@include bp($med){
					max-width: 220px;
					height: 385px;
				}
			}
	.offerings a {
		//text-decoration-color: $burgandy;
		text-decoration: none;

	}
	div.offeringCard{
		padding: 24px;
		background-color: $green;
		margin:auto;
		margin-bottom: 24px;
		border: 4px solid $green;
		transition: all .5s ease;

		@include bp($hover){
			&:hover{
			border: 4px solid $navy;
			h3{
				
				text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
				color: $burgandyH;
			}

			}
		}
	}
	.offeringCard img{
		border: 5px solid $burgandy;
	}
	.offeringCard h3 { 
		padding-top: 0;
		color: $burgandy;

	}


	@include bp($med){
		div.quality {
			display: inline-block;
			width: 49%;
			padding-left: 2%;
			vertical-align: top;
		}
		div.form {
			display: inline-block;
			width: 49%;
		}
	}

}