.detail {
	h2 {
		margin-top: -10px;
		padding-top: 0px;
		border-bottom: 4px solid $navy;
		@include bp($med){
			margin-bottom: 0;
		}

	}

	header nav {
		@include bp($med){
			margin-bottom: -45px;
		}
	}

	.wrapper {
		margin-bottom: 30px;
	}

	.explanation {
		font-style: italic;
		margin-top: 0;
	}

	.detailSmall {
		margin-top: 30px;
		vertical-align: top;
		@include bp($small){
			display: inline-block;
			width: 48%;

		}

		@include bp($med){
			margin-top: 10px;
		}
	}
	.detailLast{
		@include bp($small){
			margin-left: 3%;

		}
	
	}

	.detailLarge {

		@include bp($small){
			width: 65%;
			float: left;
			padding-right: 20px;
		}

	}

	.description {
		// @include bp($small){
		// 	width: 33%;
		// 	display: inline-block;
		// }

	}

	.previousNext {
		margin-bottom: 24px;
		display: block;

	}
	a.nextProject{
		float: right;
		
		color: $navy;
		font-weight: 300;
		padding: 10px 5px;

		@include bp($hover){
			&:hover{
				color: $navyH;
			}
		}
		
	}
	a.lastProject{
		float: left;
		color: $navy;
		font-weight: 300;
		padding: 10px 5px;

		@include bp($hover){
			&:hover{
				color: $navyH;
			}
		}
		
	}

}