.detail {
	h2 {
		margin-top: -10px;
		padding-top: 0px;
		border-bottom: 4px solid $navy;
		@include bp($med){
			margin-bottom: 0;
		}

	}

	header nav {
		@include bp($med){
			margin-bottom: -45px;
		}
	}

	.wrapper {
		margin-bottom: 30px;
	}

	.explanation {
		font-size: .8em;
		margin-top: 0;
	}


	.detailSmall {
		margin-top: 30px;
		vertical-align: top;
		@include bp($small){
			display: inline-block;
			width: 48%;

		}

		@include bp($med){
			margin-top: 10px;
		}
	}
	.detailLast{
		@include bp($small){
			margin-left: 3%;

		}
	
	}

	.detailLarge {

		@include bp($small){
			width: 67%;
			float: left;
			padding-right: 20px;
		}

	}

	.description {
		// @include bp($small){
		// 	width: 33%;
		// 	display: inline-block;
		// }

	}

	.previousNext {
		margin-bottom: 24px;
		display: block;

	}
	a.nextProject{
		float: right;
		
		color: $navy;
		font-weight: 300;
		padding: 10px 5px;

		@include bp($hover){
			&:hover{
				color: $navyH;
			}
		}
		
	}
	a.lastProject{
		float: left;
		color: $navy;
		font-weight: 300;
		padding: 10px 5px;

		@include bp($hover){
			&:hover{
				color: $navyH;
			}
		}
		
	}

	.form {
		@include bp($med){
			margin-top: 60px;
		}
	}


	 .offerings {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
	}
	.offeringCard {
		max-width: 550px;

			@include bp($med){
					max-width: 480px;
					//height: 385px;
				}
			}
	.offerings a {
		//text-decoration-color: $burgandy;
		text-decoration: none;

	}
	div.offeringCard{

		padding: 24px;
		background-color: $green;
		margin:auto;
		margin-bottom: 24px;
		border: 4px solid $green;
		transition: all .5s ease;

		@include bp($hover){
			&:hover{
			border: 4px solid $navy;
			h3{
				
				text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
				color: $burgandyH;
			}

			}
		}
	}
	.offeringCard img{
		border: 5px solid $burgandy;
		width: 40%;
		margin-right: 10px;
		display: inline-block;
	}
	.offeringCard h3 { 
		padding-top: 0;
		padding-right: 0;
		color: $burgandy;
		width: 55%;
		display: inline-block;
	}

}