@import url('https://fonts.googleapis.com/css?family=Oswald|Zilla+Slab:300,400,400i,700');

$fontH: 'Oswald', sans-serif;
$fontB: 'Zilla Slab', sans-serif;

//colors
$brick: #5c1f0d;
$navy: #1f2537;
$green: #bfc7bc;
$tan: #f4f1e6;
$burgandy: #491506;

$blue: blue;
$lblue: blue;
$dgreen: green;
$silver: silver;


$small: 650px;
$workMed: 850px;
$med: 1000px;
$hover: 1025px;